
@{
    ViewBag.Title = "IndexBrandMaker";
    Layout = "~/Views/Shared/ThunderDuckBrandMaker/LayoutBrandMaker.cshtml";
}


<!--ABOUT AREA-->
<section class="about-area section-padding" id="about">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Câu chuyện của chúng tôi</h2>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="about-content">
                    <p><span class="big-text">H</span>ai con người cùng chung một chí hướng và đam mê, một người xây nhà một người tô điểm thêm nhiều sắc màu cho ngôi nhà chung mang tên THUNDER DUCK - CHÚ VỊT SẤM SÉT. Đó là câu chuyện về một ngày trời nắng gắt, bỗng trở nên dịu dàng hơn với vầng mây trôi ngang trên đầu hai cô gái, bất thình lình từ trong đám mây những tiếng SẤM vang trời như muốn xé toạt màn mây đánh dấu những tia SÉT đầy năng lượng và ánh sáng mở </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="right-about-content">
                    <p>
                        lối cho hai cô gái bước vào hành trình cuộc đời, những ngã rẽ của sự nghiệp chỉ với 2 cô gái cho 3 ngành nghề :<br>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 1. Tư Vấn Thiết Kế, Thi Công Xây Dựng<br>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 2. Events - Marketing<br>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 3. Sản Xuất -  Nhập Khẩu - Phân Phối Hoá Mỹ Phẩm<br>
                        CHÚ VỊT SẤM SÉT - THUNDER DUCK GROUP
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="about-author-sign text-center">
                    <img src="~/Content/ThunderDuckBrandMaker/img/about/signature.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--ABOUT AREA END-->

<!--SPEACIAL PROMOTIONS AREA-->
<section class="promotions-area section-padding" id="promotion">
    <div class="promotion-area-bg" data-stellar-background-ratio="0.6"></div>
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Bùng nổ Tour</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="menu-discount-offer col-md-12 col-lg-12 col-sm-12 col-xs-12">

                <div class="single-promotions">
                    <div class="promotions-img">
                        <img src="~/Content/ThunderDuckBrandMaker/img/promotions/sin-malay.png" alt="">
                    </div>
                    <div class="promotions-details">
                        <h3>SINGAPORE - MALAYSIA</h3>
                        <p>Thưởng lãm những thắng cảnh nổi tiếng của cả 2 quốc gia: Singapore - Malaysia</p>
                        <a href="singapore-malaysia.html" class="read-more">8.390.000đ/người</a>
                    </div>
                </div>

                <div class="single-promotions">
                    <div class="promotions-img">
                        <img src="~/Content/ThunderDuckBrandMaker/img/promotions/bangkok-pattaya.jpg" alt="">
                    </div>
                    <div class="promotions-details">
                        <h3>BANGKOK - PATTAYA</h3>
                        <p>Thưởng lãm những thắng cảnh nổi tiếng của Thailand</p>
                        <a href="#" class="read-more">6.590.000đ/Tour</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--SPEACIAL PROMOTIONS AREA END-->

<!--MENUS AREA-->
<section class="menus-area section-padding" id="menu">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Sự kiện</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="food-menu-list-menu">
                    <ul>
                        <li class="filter active" data-filter="all">Toàn bộ</li>
                        <li class="filter" data-filter=".east">Miền Đông</li>
                        <li class="filter" data-filter=".west">Miền Tây</li>

                        <li class="filter" data-filter=".central">Miền Trung</li>
                        <li class="filter" data-filter=".foreign">Nước Ngoài</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row food-menu-list">

            <div class="mix col-md-6 col-lg-6 col-sm-12 col-xs-12 single-menu breakfast foreign">
                <div class="single-menu-details">
                    <div class="food-menu-img"><img src="~/Content/ThunderDuckBrandMaker/img/menu/7.png" alt=""></div>
                    <div class="food-menu-details">
                        <h3><a href="singapore-malaysia.html">Singapore-Malaysia</a></h3>

                        <h3><span class="menu-price">8.790.000đ/Người</span></h3><br>
                        <p class="menu-speacification">Singapore là một thành phố quốc tế sầm uất với nhiều tòa nhà cao tầng, công viên và địa điểm giàu nét văn hóa. Singapore cũng là nơi giao thoa của những nét đẹp tinh túy nhất từ phương Đông và phương Tây.</p>

                    </div>
                </div>
            </div>

            <div class="mix col-md-6 col-lg-6 col-sm-12 col-xs-12 single-menu foreign">
                <div class="single-menu-details">
                    <div class="food-menu-img"><img src="~/Content/ThunderDuckBrandMaker/img/menu/6.jpg" alt=""></div>
                    <div class="food-menu-details">
                        <h3><a href="bangkok-pattaya.html">Bangkok-Pattaya</a></h3>
                        <h3><span class="menu-price">6.590.000đ/Người</span></h3><br>

                        <p class="menu-speacification">Cùng khám phá tổng quan về Bangkok, một đô thị lớn sầm uất phát triển không ngừng, thủ đô của Thái Lan là một điểm đến hấp dẫn nhất khu vực Đông Nam Á.</p>
                    </div>
                </div>
            </div>

            <div class="mix col-md-6 col-lg-6 col-sm-12 col-xs-12 single-menu west">
                <div class="single-menu-details">
                    <div class="food-menu-img"><img src="~/Content/ThunderDuckBrandMaker/img/menu/4.jpg" alt=""></div>
                    <div class="food-menu-details">
                        <h3><a href="mt01.html">Sài Gòn-Mỹ Tho-Cần Thơ-Châu Đốc</a></h3>
                        <h3><span class="menu-price">3.600.000đ/10 người</span></h3><br>

                        <p class="menu-speacification">Vùng đồng bằng sông Cửu Long là vùng cực Nam của Việt Nam, hay còn gọi là vùng đồng bằng sông Mê Kông, vùng đồng bằng Nam Bộ hoặc miền Tây Nam Bộ hoặc nói ngắn gọn là miền Tây thì người dân Việt Nam cũng có thể hiểu được.</p>
                    </div>
                </div>
            </div>

            <div class="mix col-md-6 col-lg-6 col-sm-12 col-xs-12 single-menu west">
                <div class="single-menu-details">
                    <div class="food-menu-img"><img src="~/Content/ThunderDuckBrandMaker/img/menu/3.jpg" alt=""></div>
                    <div class="food-menu-details">
                        <h3><a href="mt02.html">Sài Gòn-Mỹ Tho-Cần Thơ-Châu Đốc-Đồng Tháp</a></h3>
                        <h3><span class="menu-price">3.600.000đ/10 người</span></h3><br>

                        <p class="menu-speacification">Miền Tây Nam Bộ gồm có 12 tỉnh (An Giang, Bạc Liêu, Bến Tre, Cà Mau, Đồng Tháp, Tiền Giang, Sóc Trăng, Long An, Hậu Giang, Kiên Giang, Trà Vinh, Vĩnh Long) và 1 thành phố trực thuộc Trung ương (Cần Thơ).</p>
                    </div>
                </div>
            </div>

            <div class="mix col-md-6 col-lg-6 col-sm-12 col-xs-12 single-menu dinner west">
                <div class="single-menu-details">
                    <div class="food-menu-img"><img src="~/Content/ThunderDuckBrandMaker/img/menu/2.jpg" alt=""></div>
                    <div class="food-menu-details">
                        <h3><a href="mt03.html">Sài Gòn–Mỹ Tho–Cần Thơ–Sóc Trăng–Bạc Liêu–Cần Thơ</a></h3>
                        <h3><span class="menu-price">3.600.000đ/10 người</span></h3><br>

                        <p class="menu-speacification">Miền Tây nổi tiếng với nhiều kênh rạch chằng chịt, sông ngòi dày đặc. Các con sông này nguồn nước dẫn chủ yếu là từ sông Cửu Long (Cửu Long giang), là tên gọi chung cho các phân lưu của sông Mê Kông chảy trên lãnh thổ của Việt Nam.</p>
                    </div>
                </div>
            </div>

            <div class="mix col-md-6 col-lg-6 col-sm-12 col-xs-12 single-menu west">
                <div class="single-menu-details">
                    <div class="food-menu-img"><img src="~/Content/ThunderDuckBrandMaker/img/menu/1.jpg" alt=""></div>
                    <div class="food-menu-details">
                        <h3><a href="mt04.html">Sài Gòn–Mỹ Tho–Cần Thơ–Châu Dốc–Hà Tiên–Phú Quốc</a></h3>
                        <h3><span class="menu-price">3.600.000đ/10 người</span></h3><br>

                        <p class="menu-speacification">Phú Quốc là điểm nghỉ dưỡng, tham quan, và khám phá sinh thái tuyệt vời. Bãi Sao cát trắng mịn, dáng cong, nước xanh ngọc bích. Phú Quốc thực sự là một viên ngọc quý trên bản đồ Việt Nam.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--MENUS AREA END-->

<!--TEAM AREA-->
<section class="team-area section-padding" id="team">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Thành Viên</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 team-slider">

                <div class="single-team-member text-center">
                    <div class="team-member-img ">
                        <img src="~/Content/ThunderDuckBrandMaker/img/team/team.gif" alt="">
                        <div class="member-social-bookmark">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="member-details">
                        <h3><a href="profile.html">ĐOÀN THANH THẢO ( Jasmine Đoan )</a></h3>
                        <p>CEO - Thunder Duck Group</p>
                    </div>
                </div>

                <div class="single-team-member text-center">
                    <div class="team-member-img ">
                        <img src="~/Content/ThunderDuckBrandMaker/img/team/team.gif" alt="">
                        <div class="member-social-bookmark">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="member-details">
                        <h3><a href="profile.html">ĐOÀN THANH THẢO ( Jasmine Đoan )</a></h3>
                        <p>CEO - Thunder Duck Group</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--TEAM AREA END-->

<!--BLOG AREA-->
<section class="blog-area section-padding" id="blog">
    <div class="blog-area-bg" data-stellar-background-ratio="0.6"></div>
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Tin tức</h2>
                </div>
            </div>
        </div>
        <div class="row post-slider">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="single-post text-center">
                    <div class="blog-post-img ">
                        <img src="~/Content/ThunderDuckBrandMaker/img/blog/blog3.jpg" alt="">
                    </div>
                    <div class="post-details">
                        <h3><a href="news1.html">Can thiệp quyết định mua hàng, lời nào cho Marketing?</a></h3>
                        <p>Vâng, 5 bước đưa ra 1 quyết định mua hàng và quyết định có quay lại với bạn sau khi đã sử dụng sản phẩm, hoặc dịch vụ của bạn không!</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="single-post text-center">
                    <div class="blog-post-img ">
                        <img src="~/Content/ThunderDuckBrandMaker/img/blog/blog1.jpg" alt="">
                    </div>
                    <div class="post-details">
                        <h3><a href="news2.html">Trải nghiệm mô hình du lịch mới tại Sa Pa</a></h3>
                        <p>Sau một thời gian gây dựng mô hình du lịch sinh thái, vườn dâu tây của gia đình anh Trần Tuấn Nghĩa, ở huyện Sa Pa đã thu hút nhiều du khách.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="single-post text-center">
                    <div class="blog-post-img ">
                        <img src="~/Content/ThunderDuckBrandMaker/img/blog/blog2.jpg" alt="">
                    </div>
                    <div class="post-details">
                        <h3><a href="news3.html">Lên Đà Lạt một ngày làm nông dân thu hoạch dâu tây</a></h3>
                        <p>Đến Đà Lạt, một trải nghiệm rất thú vị mà bất kỳ khách du lịch nào cũng không thể bỏ qua là ghé tham quan và thu hoạch dâu tươi ngay tại vườn.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BLOG AREA END-->

<!--INSTAGRAM GALLERY FEED-->
<section class="gallery-area section-padding" id="gallery">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Hình Ảnh</h2>
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                <div class="container-cosmetic">
                    <div class="image-frame">
                        <img src="~/Content/ThunderDuckBrandMaker/img/promotions/promo1.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">promo1</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                <div class="container-cosmetic">
                    <div class="image-frame">
                        <img src="~/Content/ThunderDuckBrandMaker/img/promotions/promo3.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">promo2</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                <div class="container-cosmetic">
                    <div class="image-frame">
                        <img src="~/Content/ThunderDuckBrandMaker/img/promotions/promo2.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">promo3</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                <div class="container-cosmetic">
                    <div class="image-frame">
                        <img src="~/Content/ThunderDuckBrandMaker/img/promotions/promo1.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">promo4</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                <div class="container-cosmetic">
                    <div class="image-frame">
                        <img src="~/Content/ThunderDuckBrandMaker/img/promotions/promo3.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">promo5</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--INSTAGRAM GALLERY FEED END-->
