
@{
    ViewBag.Title = "IndexConstruction";
    Layout = "~/Views/Shared/ThunderDuckConstruction/LayoutConstruction.cshtml";
}


<!--ABOUT AREA-->
<section class="about-area section-padding" id="about">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Câu chuyện của chúng tôi</h2>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="about-content">
                    <p><span class="big-text">H</span>thêm nội dung mới </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="right-about-content">
                    <p>
                        lối cho hai cô gái bước vào hành trình cuộc đời, những ngã rẽ của sự nghiệp chỉ với 2 cô gái cho 3 ngành nghề :<br>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 1. Tư Vấn Thiết Kế, Thi Công Xây Dựng<br>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 2. Events - Marketing<br>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 3. Sản Xuất -  Nhập Khẩu - Phân Phối Hoá Mỹ Phẩm<br>
                        CHÚ VỊT SẤM SÉT - THUNDER DUCK GROUP
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="about-author-sign text-center">
                    <img src="~/Content/ThunderDuckConstruction/img/about/signature.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--ABOUT AREA END-->
<!--RESERVATION BUTTON AREA-->
<section class="reservation-button-area section-padding" id="reservation-button">
    <div class="reservation-button-area-bg" data-stellar-background-ratio="0.6"></div>
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                <div class="area-title text-center">
                    <h2>Xây Dựng</h2>
                </div>

                <div class="container-left">
                    <img src="~/Content/ThunderDuckConstruction/img/construction/2.jpg" alt="Avatar" class="image-left">
                    <div class="overlay-left">
                        <div class="text-left">Hello World</div>
                    </div>
                </div>

                <div class="container-left">
                    <img src="~/Content/ThunderDuckConstruction/img/construction/1.jpg" alt="Avatar" class="image-left">
                    <div class="overlay-left">
                        <div class="text-left">Hello World</div>
                    </div>
                </div>
                <div class="container-left">
                    <img src="~/Content/ThunderDuckConstruction/img/construction/3.jpg" alt="Avatar" class="image-left">
                    <div class="overlay-left">
                        <div class="text-left">Hello World</div>
                    </div>
                </div>
                <div class="container-left">
                    <img src="~/Content/ThunderDuckConstruction/img/construction/2.jpg" alt="Avatar" class="image-left">
                    <div class="overlay-left">
                        <div class="text-left">Hello World</div>
                    </div>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</section>
<!--RESERVATION BUTTON AREA END-->
<!--TEAM AREA-->
<section class="team-area section-padding" id="team">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Thành Viên</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 team-slider">

                <div class="single-team-member text-center">
                    <div class="team-member-img ">
                        <img src="~/Content/ThunderDuckConstruction/img/team/team.gif" alt="">
                        <div class="member-social-bookmark">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="member-details">
                        <h3><a href="profile.html">ĐOÀN THANH THẢO ( Jasmine Đoan )</a></h3>
                        <p>CEO - Thunder Duck Group</p>
                    </div>
                </div>

                <div class="single-team-member text-center">
                    <div class="team-member-img ">
                        <img src="~/Content/ThunderDuckConstruction/img/team/team.gif" alt="">
                        <div class="member-social-bookmark">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="member-details">
                        <h3><a href="profile.html">ĐOÀN THANH THẢO ( Jasmine Đoan )</a></h3>
                        <p>CEO - Thunder Duck Group</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--TEAM AREA END-->
<!--BLOG AREA-->
<section class="blog-area section-padding" id="blog">
    <div class="blog-area-bg" data-stellar-background-ratio="0.6"></div>
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Tin tức</h2>
                </div>
            </div>
        </div>
        <div class="row post-slider">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="single-post text-center">
                    <div class="blog-post-img ">
                        <img src="~/Content/ThunderDuckConstruction/img/blog/blog3.jpg" alt="">
                    </div>
                    <div class="post-details">
                        <h3><a href="news1.html">Can thiệp quyết định mua hàng, lời nào cho Marketing?</a></h3>
                        <p>Vâng, 5 bước đưa ra 1 quyết định mua hàng và quyết định có quay lại với bạn sau khi đã sử dụng sản phẩm, hoặc dịch vụ của bạn không!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="single-post text-center">
                    <div class="blog-post-img ">
                        <img src="~/Content/ThunderDuckConstruction/img/blog/blog1.jpg" alt="">
                    </div>
                    <div class="post-details">
                        <h3><a href="news2.html">Trải nghiệm mô hình du lịch mới tại Sa Pa</a></h3>
                        <p>Sau một thời gian gây dựng mô hình du lịch sinh thái, vườn dâu tây của gia đình anh Trần Tuấn Nghĩa, ở huyện Sa Pa đã thu hút nhiều du khách.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="single-post text-center">
                    <div class="blog-post-img ">
                        <img src="~/Content/ThunderDuckConstruction/img/blog/blog2.jpg" alt="">
                    </div>
                    <div class="post-details">
                        <h3><a href="news3.html">Lên Đà Lạt một ngày làm nông dân thu hoạch dâu tây</a></h3>
                        <p>Đến Đà Lạt, một trải nghiệm rất thú vị mà bất kỳ khách du lịch nào cũng không thể bỏ qua là ghé tham quan và thu hoạch dâu tươi ngay tại vườn.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BLOG AREA END-->
<!--INSTAGRAM GALLERY FEED-->
<section class="gallery-area section-padding" id="gallery">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Hình Ảnh</h2>
                </div>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 team-slider">

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="container-cosmetic">
                        <div class="image-frame">
                            <img src="~/Content/ThunderDuckConstruction/img/construction/3.jpg" alt="Avatar" class="image">
                            <div class="overlay">
                                <div class="text">Công trình văn phòng</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="container-cosmetic">
                        <div class="image-frame">
                            <img src="~/Content/ThunderDuckConstruction/img/construction/2.jpg" alt="Avatar" class="image">
                            <div class="overlay">
                                <div class="text">Công trình nhà ở</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="container-cosmetic">
                        <div class="image-frame">
                            <img src="~/Content/ThunderDuckConstruction/img/construction/4.jpg" alt="Avatar" class="image">
                            <div class="overlay">
                                <div class="text">góc vui chơi</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="container-cosmetic">
                        <div class="image-frame">
                            <img src="~/Content/ThunderDuckConstruction/img/construction/3.jpg" alt="Avatar" class="image">
                            <div class="overlay">
                                <div class="text">ngày mới</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="container-cosmetic">
                        <div class="image-frame">
                            <img src="~/Content/ThunderDuckConstruction/img/construction/2.jpg" alt="Avatar" class="image">
                            <div class="overlay">
                                <div class="text">trắng đen</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="container-cosmetic">
                        <div class="image-frame">
                            <img src="~/Content/ThunderDuckConstruction/img/construction/1.jpg" alt="Avatar" class="image">
                            <div class="overlay">
                                <div class="text">tương phản</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--INSTAGRAM GALLERY FEED END-->
